<h1>Editing good quote</h1>

<%= render "form", good_quote: @good_quote %>

<br>

<div>
  <%= link_to "Show this good quote", @good_quote %> |
  <%= link_to "Back to good quotes", good_quotes_path %>
</div>
